.planet {
  margin: 90px 50px 0px 50px;
}
.imageRelCont {
  position: relative;
}
.bigImage {
  width: 250px;
  height: 250px;
}

.smallImage {
  position: absolute;
  width: 156px;
  height: 156px;
  left: 42px;
  top: 191px;
}

.textCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 104px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.description {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  width: 350px;
  margin-top: 10px;
}

.descriptionSpan {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */

  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 3px;
}

.linkCont {
  margin-top: 10px;
}
.descriptionLink {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */

  color: #ffffff;
}
.butCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28px;
}

.button {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  margin-top: 16px;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  color: #ffffff;
  width: 350px;
  height: 48px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(216, 216, 216, 0.2);
}

.active {
  background: #419ebb;
}

.detailsCont {
  margin-top: 87px;
  display: flex;
  justify-content: space-around;
}

.detail {
  color: #fff;
  border: 1px solid #ffffff;
  width: 255px;
  height: 128px;
  padding-left: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6px;
}

.detailSpan {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.detailTitle {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */

  letter-spacing: -1.5px;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .planet {
    margin-top: 50px 20px 0px 20px;
  }
  .imageRelCont {
    margin-top: 0px;
  }
  .title {
    font-size: 48px;
    line-height: 62px;
  }

  .textCont {
    margin-top: 60px;
  }
  .butCont {
    align-items: center;
    margin-top: 80px;
  }

  .description {
    width: 300px;
  }
  .button {
    width: 281px;
    height: 40px;
  }
  .detail {
    width: 164px;
    height: 88px;
  }
  .detailSpan {
    font-size: 8px;
    line-height: 16px;
  }
  .detailTitle {
    font-size: 24px;
    line-height: 31px;
  }
}

@media screen and (max-width: 900px) {
  .detailsCont {
    display: none;
  }
  .bigImage {
    width: 154px;
    height: 154px;
    margin-bottom: 40px;
  }

  .smallImage {
    width: 120px;
    height: 120px;
    left: 17px;
    top: 130px;
  }
  .textCont {
    align-items: center;
    margin-top: 40px;
  }
  .butCont {
    align-items: center;
    margin-top: 40px;
  }
}
